/*General*/
body{margin: 0;}
.bold{font-weight: 600;}
.font-size-3{font-size: 2.5em;}
.hide{display: none;}
.oscur{background-color: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; z-index: 4; width: 100vw; height: 100vh;display:none;}
.oscur .white{background-color: white;position: relative;top: 25%;height: 50vh; width: 75vw;left: 12.5%; text-align: center;padding: 10px;overflow-y: scroll}
.oscur .white div{padding: 5px;}
.oscur .white .close{position: absolute; top: 5px; right: 5px;}
buttons
.but-sync{background-color: cyan;}
.but-sync:hover{background-color: darkcyan;}
.change_stats{position: relative; top: 50%; font-size: 4em; color: cyan;left: 25%;}
.change_stats:hover{color: darkcyan;}
body{font-size: 1em;}

/*Slyder*/
.slider,.slider2{width: calc(100% - 160px); margin-left: 80px;}
.item_slider{}
.item_slider_content{padding: 5px;position: relative;top: 0; left: 0;}
.item_slider_content .game_img{position: relative;top: 0;left: 0;}
.item_slider_content .plat_imgs_cont{position: absolute;top: 10px; z-index: 2;width: calc(100% - 10px);min-height: 12.5%;}
.item_slider_content .plat_imgs_cont .plat_img{width: calc((100%/6) - 10px); float: left; margin: 5px;}
.slick-prev:before, .slick-next:before{color: #005aff !important;}
.w-100{width: 100%;}
.rondo{border-radius: 10px;}
.rondo1{border-radius: 50%;}
.rondo2{border-radius: 25%;}
.rondo3{border-radius: 33%;padding: 1%;}
.gen_img_slider {margin: 0 !important;padding: 0;border: 5px solid darkcyan;}

/*Datatable*/
table.datatable{border-collapse: collapse !important; border-radius: 5px;}
.datatable th{background-color: lightcyan}
.datatable tbody tr:nth-child(even){background-color: lightcyan}
.datatable tbody tr:hover{background-color: cyan;}
.datatable td,.datatable th{border: 1px solid darkcyan;}

/*pagination*/
.pagination{margin-bottom: 25px;margin-top: 25px;float: left;}
.pagination#pagination_let{margin-bottom: 25px;}
.pagination .pagination_item{padding: 1em 1.5em;background: cyan;margin-left: 10px;margin-bottom: 10px;color: black;display: inline-block;}
.pagination .pagination_item.pagination_item_left{margin-left: 0px;}
.pagination a{text-decoration: none;}
.pagination a:hover .pagination_item{background: darkcyan;color: white;cursor: pointer;}
.pagination .unactived .pagination_item{background: lightcyan;}
.pagination .unactived:hover .pagination_item{background: lightcyan;color: black;}

/*loading*/
#loading {text-align: center;z-index: 2;position: fixed;width: 100%;background: rgba(255,255,255,0.5);left: 0;height: 100vh;top: 0;display: none;}
#loading img{margin-top: calc((50% - 400px)/2)}

/*Sliders General*/
.slick-arrow{width: 80px !important;top: calc(50% - 20px) !important;}
.slick-arrow.slick-prev{left: -80px !important;}
.slick-arrow.slick-prev:before{right: 0px;position: relative;}
.slick-arrow.slick-next:before{left: 0px;position: relative;}
.slick-arrow:before{font-size: 40px !important;}
.slick-arrow.slick-next{right: -80px !important;}
.slick-track {display: flex;}
.slick-track .slick-slide {display: flex;height: auto;align-items: center;justify-content: center;}


/*header*/
header nav ul{list-style: none;background-color: cyan;float: left;width: 100%;padding: 0;}
header nav ul li{display: inline-block;width: calc(100%/7);float: left;text-align: center;padding: 10px 20px; color: black;}
header nav li.other_nav{padding-left: 0; padding-right: 0;cursor:pointer}
header nav li.other_nav:hover ul.sub_nav {display: block;}
header nav ul.sub_nav {position: absolute;top: 2.7em;display: none;z-index: 3}
header nav ul.sub_nav li{display: block;width: 100%;float: left;text-align: center;padding: 10px 20px; color: black;}
header nav ul li:hover{background-color: darkcyan;color: white;}
header nav ul li.active{background-color: darkcyan;color: white;}
.cyan_but{background: cyan;color: black;}
.cyan_but.active{background: darkcyan;color: white;}
.cyan_but:hover{background: darkcyan;color: white;}
.red_but{background: red;color: black;}
.red_but:hover{background: darkred;color: white;}
.header_logo{max-height:2em;border-radius: 50%;}


/*search*/
.busquedaDDBB h2{margin-bottom: 25px;}
.busquedaDDBB #list_games_bbdd {margin-top: 10px;}
#To_search_API {margin-top: 25px;}
.busquedaDDBB #list_games_bbdd p.nada{width: 100%; text-align: center;padding: 25vh 5vw; font-size: 32px;color: grey;margin-top: 100px;}


/*searchAPI*/
.busquedaAPI h2{margin-bottom: 25px;}
.busquedaAPI #list_games_api {margin-top: 10px;}
.busquedaAPI #list_games_api .button_api {display: block;width: 100%;margin-bottom: 10px;min-height: 4em;cursor: pointer;}


/*slider*/
.item_slider_content{padding: 5px;position: relative;top: 0; left: 0;}
.item_slider_content .game_img{position: relative;top: 0;left: 0;padding: 0; border: 5px solid cyan;}
.item_slider:hover .item_slider_content .game_img{border-color: darkcyan;}
.item_slider:hover{cursor: pointer;}
.item_slider_content .plat_imgs_cont{position: absolute;top: 10px; z-index: 2;width: calc(100% - 20px);min-height: 12.5%;margin: 0 5px;padding: 0%;}
.item_slider_content .plat_imgs_cont .plat_img{width: calc((100%/6) - 10px); float: left; margin: 5px;}
.slick-slide {
    margin: 0 10px;
  }

/*juegos*/
.item_juegos_content{padding: 5px;position: relative;top: 0; left: 0;}
.item_juegos_content .game_img{position: relative;top: 0;left: 0;padding: 0; border: 5px solid cyan;}
.item_juegos:hover .item_juegos_content .game_img{border-color: darkcyan;}
.item_juegos:hover{cursor: pointer;}
.item_juegos_content .plat_imgs_cont{position: absolute;top: 10px; z-index: 2;width: calc(100% - 20px);min-height: 12.5%;margin: 0 5px;padding: 0%;}
.item_juegos_content .plat_imgs_cont .plat_img{width: calc((100%/6) - 10px); float: left; margin: 5px;}


/*plataforma*/
.item_plataformas_content{padding: 5px;position: relative;top: 0; left: 0;height: 100%;}
.item_plataformas_content .img_plat_cont {padding: 0;height: 100%;border: 5px solid cyan;display: flex;justify-content: center;align-items: center;text-align: center;}
.item_plataformas_content .img_plat_cont .plat_img{height: max-content;}
.item_plataformas:hover .item_plataformas_content .img_plat_cont{border-color: darkcyan;}

/*generos*/
.item_generos .gen_img_slider {margin: 0 !important;padding: 0;border: 5px solid cyan;}
.item_generos:hover .gen_img_slider {border: 5px solid darkcyan;cursor: pointer;}

.observacion-th:after{content: "Obs"}
.opciones-th:after{content: "Ops"}



/*container*/
@media (max-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {max-width: 1500px;}
}
@media (max-width: 1200px) { 
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1320px;}
}
@media (max-width: 992px) { 
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}
    #login input{font-size: 2em;text-align: center;}
    body{font-size: 1.5em;}
    /*h2{text-align: center;}*/
    .header_link_2{display: none;}
    .header_logo{max-height:1.5em;}
    .sm-hide{display: none;}
}
@media (max-width: 576px){
    .sm-hide{display: none;}
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/*p{
    font-size:18px;
}

@media screen and (max-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {max-width: 1500px;}
    .observacion-th:after{content: "Observación"}
    .opciones-th:after{content: "Opciones"}
}

@media screen and (max-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1320px;}
    .observacion-th:after{content: "Observación"}
    .opciones-th:after{content: "Opciones"}
}
@media screen and (max-width: 992px){
    h2{background: red;}
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}
    .observacion-th:after{content: "Observación"}
    .opciones-th:after{content: "Opciones"}
}
@media screen and (max-width: 778px){

@media screen and (max-width: 992px){
    h2{background: red;}
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}
    .observacion-th:after{content: "Observación"}
    .opciones-th:after{content: "Opciones"}
}
@media screen and (max-width: 576px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}
    .observacion-th:after{content: "Obs"}
    .opciones-th:after{content: "Ops"}
}*/




/*response*/
/*@media(max-width:900px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}
    .slider{width: 100%; margin: 0;}
    .slick-arrow:before{display: none;}
}*/
/*@media(max-width:500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}s
    .pagination{margin-left: 0 !important;}
    .pagination .pagination_item {margin-bottom: 10px;}
    body,h2,input{font-size: 2em;}
    input{max-width: 100%;}
}*/
